{{template "header"}}
<title>文章</title>
</head>
<body>
{{template "navbar" .}}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/article">Article</a></li>
                <li class="active">文章列表</li>
            </ol>
            <div class="row">
                <div class="pull-right"><a class="btn btn-default " href="/article/add">添加文章</a></div>
            </div>
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Views</th>
                    <th>Catagory</th>
                    <th>Created</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>
                {{range .awcs}}
                <tr>
                    <td>{{.Article.Id}}</td>
                    <td><a href="/article/view/{{.Article.Id}}">{{.Article.Title}}</a></td>
                    <td>{{.Article.ViewCount}}</td>
                    <td>{{.Catagory.Title}}</td>
                    <td>{{dateformat .Article.Created "2006-01-02 15:04:05"}}</td>
                    <td><a href="/article?id={{.Article.Id}}&op=del">Delete</a></td>
                </tr>
                {{end}}
                </tbody>
            </table>

            {{with .pages}}
            {{if gt .TotalPages 1}}
            <div class="row">
                <nav>
                    <ul class="pagination">
                        {{if .HasPrevious}}
                        <li>
                            <a href="/article?p={{.Previous}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {{end}}
                        {{range .Items}}
                        {{if gt .Current 0}}
                        <li {{if .IsCurrent}}class="active"{{end}}><a {{if not .IsCurrent}}href="/article?p={{.Current}}"{{end}}>{{.Current}}</a></li>
                        {{end}}
                        {{end}}
                        {{if .HasNext}}
                        <li>
                            <a href="/article?p={{.Next}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </nav>
            </div>
            {{end}}
            {{end}}
        </div>
        <div class="col-md-2">.col-md-2</div>

    </div>
</div>
{{template "footer" .}}
</body>
</html>