{{template "header"}}
<title>首页</title>
</head>
<body>
{{template "navbar" .}}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            {{range .awcs}}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="post-title"><a href="/article/view/{{.Id}}">{{.Title}}</a></h3>
                    <div class="post-content">
                        <p>{{.Content}}</p>
                    </div>
                    <div class="post-meta">
                        <div class="col-md-offset-6">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span>{{.Author}} | </span>
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            <span>{{.ViewCount}} | </span>
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            <span>{{dateformat .Created "2006-01-02 15:04:05"}} |</span>
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            <span>{{or .CataName "未分类"}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
            {{with .pages}}
            {{if gt .TotalPages 1}}
            <div class="row">
                <nav>
                    <ul class="pagination">
                        {{if .HasPrevious}}
                        <li>
                            <a href="/?p={{.Previous}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {{end}}
                        {{range .Items}}
                            {{if gt .Current 0}}
                                <li {{if .IsCurrent}}class="active"{{end}}><a {{if not .IsCurrent}}href="/?p={{.Current}}"{{end}}>{{.Current}}</a></li>
                            {{end}}
                        {{end}}
                        {{if .HasNext}}
                        <li>
                            <a href="/?p={{.Next}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </nav>
            </div>
            {{end}}
            {{end}}
        </div>
        <div class="col-md-3">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title">分类列表</h3>
                </div>
                <div class="list-group">
                    {{range .catagories}}
                    <a href="/article?catagory={{.Id}}" class="list-group-item">{{.Title}}<span
                            class="badge">18</span></a>
                    {{end}}
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title">标题名称</h3>
                </div>
                <div class="panel-body">
                    <p>Panel content</p>

                    <p>Panel content</p>

                    <p>Panel content</p>

                    <p>Panel content</p>

                    <p>Panel content</p>

                    <p>Panel content</p>

                    <p>Panel content</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "footer" .}}
</body>
</html>